body{
    width: 120vw;
    height:120vh;
}
.pink{

    width: 600px;
    height: 600px;
    background-color: pink;
}
.blue{
    width: 250px;
    height: 250px;
    background-color: blue;
    position:fixed;
    top: 250px;
    left: 250px;
}
.red{
    width: 250px;
    height: 250px;
    background-color:red;
    position: relative;
    top:200px;
    left: 500px;
}
.yellow{
    width: 250px;
    height: 250px;
    background-color:yellow;
    position: absolute;
    top:200px;
    left: 500px;
}